.wy-side-nav-search, .wy-nav-top {
    background: #CA181C;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #CA181C;
    height: 32px;
    line-height: 32px;
    padding: 0 1.618em;
    margin: 12px 0 0;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 85%;
    white-space: nowrap;
}
.body {
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    font: Arial;
    font-weight: 400;
    color: #404040;
    min-height: 100%;
    background: #CA181C;
}
a {
    color: #ca181c;
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: #999999;
}
