.wy-side-nav-search, .wy-nav-top {
    background: #CA181C;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #CA181C;
    height: 32px;
    line-height: 32px;
    padding: 0 1.618em;
    margin: 12px 0 0;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 85%;
    white-space: nowrap;
}
.body {
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    font: Arial;
    font-weight: 400;
    color: #404040;
    min-height: 100%;
    background: #CA181C;
}
a {
    color: #ca181c;
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: #999999;
}
.wy-side-nav-search input[type=text] {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #6e6e6e;
}
dt {
    display: table;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #d2d2d2;
    color: #ca181c;
    border-top: 3px solid #ca181c;
    padding: 6px;
    position: relative;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    display: table;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #d2d2d2;
    color: #ca181c;
    border-top: 3px solid #ca181c;
    padding: 6px;
    position: relative;
}
.rst-content .note .admonition-title, .rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
    background: #ca181c;
}

.rst-content .admonition-title, .wy-alert-title {
    font-weight: 700;
    display: block;
    color: #fff;
    background: #d2d2d2;
    padding: 6px 12px;
    margin: -12px -12px 12px;
}
.rst-content .admonition,.rst-content .admonition-todo,.rst-content .attention,.rst-content .caution,.rst-content .danger,.rst-content .error,.rst-content .hint,.rst-content .important,.rst-content .note,.rst-content .seealso,.rst-content .tip,.rst-content .warning,.wy-alert{
padding:12px;
line-height:24px;
margin-bottom:24px;
background:#d2d2d2
}
.rst-content .note,.rst-content .seealso,.rst-content .wy-alert-info.admonition,.rst-content .wy-alert-info.admonition-todo,.rst-content .wy-alert-info.attention,.rst-content .wy-alert-info.caution,.rst-content .wy-alert-info.danger,.rst-content .wy-alert-info.error,.rst-content .wy-alert-info.hint,.rst-content .wy-alert-info.important,.rst-content .wy-alert-info.tip,.rst-content .wy-alert-info.warning,.wy-alert.wy-alert-info{background:#d2d2d2}


html.writer-html4 .rst-content dl:not(.docutils)>dt,html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt{
display:table;
margin:6px 0;
font-size:90%;
line-height:normal;
background:#d2d2d2;
color:#6e6e6e;
border-top:3px solid #999999;
padding:6px;
position:relative
}

.rst-content .guilabel{
border:1px solid #999999;
background:#d2d2d2;
font-size:80%;
font-weight:700;
border-radius:4px;
padding:2.4px 6px;
margin:auto 2px
}

